[Unit]
Description={{ service_description }}
After=network.target

[Service]
Type=simple
WorkingDirectory={{ service_working_directory }}
ExecStart={{ service_exec_start }}
Restart=always

[Install]
WantedBy=multi-user.target
